@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-Bold.ttf);
}
@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-ExtraBold.ttf);
}
@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-ExtraLight.ttf);
}
@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-Light.ttf);
}
@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-Medium.ttf);
}
@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-Regular.ttf);
}
@font-face {
   font-family: 'Manrope', sans-serif;
   src: url(../../fonts/Manrope-SemiBold.ttf);
}

html,body *{
   font-family: 'Manrope', sans-serif;
}