$light-background: #fff;
$unnamed: #333;
$primary-color: linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%);
// $primary-color: linear-gradient(122deg, #9021AC 33.46%, #C8459F 75.87%);
// $primary-color: linear-gradient(122deg, #FFBC2A 33.46%, #FF4F39 82.64%);
$manrope: 'Manrope', sans-serif;
$white-bg-color: #fff;
$hero-btn-color: #77B2D3;
